body
{
	background-repeat: repeat-x;
	background-image: url(images/bg_fade.gif);
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: black;
	background-color: #ffffff;
	font-size: 1.1em;
}

form
{
	color: black;
	width: 400px;
	padding: 13px;
	margin: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f4f4f4;
	border: 1px solid #666666;
}

h2
{
	margin-bottom: 7px;
	margin-top: 35px;
	font-family: Helvetica, Arial, sans-serif;
}

#canvas
{
	margin-right: 20px;
	margin-left: 45px;
	margin-bottom: 65px;
	margin-top: 25px;
	padding: 0px;
}

#uploadbox
{
	color: black;
	padding: 13px;
	margin: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #fcfcfc;
	border: 1px solid #999999;
}

#uploadbox h2
{
	margin-top: 1px;
	margin-bottom: 11px;
}